* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Montserrat";
    src: url(./Montserrat/Montserrat-VariableFont_wght.ttf);
}

body {

    background-color: #302C42;
;
}

main {

    font-family:"Montserrat";
}



.nav {
    
    display: flex;
    justify-content: space-between;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 12px;
    padding: 2rem;
    
}

.nav > div {
    
    display: flex;
    align-items: anchor-center;
    column-gap: 10px;
    width: auto;

}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.primary-button{

    /* padding: 5px; */
    font-weight: 600;
    font-size: 12px;
    height: 48px;
    width: 154px;
    border-radius:40px;
    background-color: #302C42;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;

}

.secondary-button {

    font-weight: 600;
    font-size: 12px;
    height: 48px;
    width: 154px;
    border-radius: 40px;
    background-image: linear-gradient(to right, #8176AF, #C0B7E8);
    border: none;    
}

.container {
    max-width: 1272px;
    margin: 0 auto;

}

 /* .nav div:nth-child(2) {

    width: 400px;
} */

.nav > div:nth-child(2) {
    
    column-gap: 45px;
}

.nav > div:nth-child(3) {

    column-gap: 20px;
}

.taglines {

    display: flex;
    justify-content: space-between;

}
.taglines > div:first-child {

    padding-top: 4rem;
    padding-left: 3rem;


}

#phrase > h1 {

    color: #FFFFFF;
}

#phrase h1 #firstline {
    background: linear-gradient(to left, #8176AF, #C0B7E8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

#phrase h1 #secondline {

     background: linear-gradient(to right,#8176AF, #C0B7E8);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;

}

.taglines > div > div:nth-child(2) {

    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    margin: 40px 0px;
}

.taglines > div > div:nth-child(3) {

    max-width: fit-content;
    display: flex;
    column-gap: 20px;
    align-items: anchor-center;
    padding-top: 1rem;
}

.taglines > div:nth-child(2) {

    padding-top: 2rem;
    padding-right: 1rem;
}

#contact-details {

    padding: 3rem;
}

#contact-details > div {
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right, #211E2E,#3A3456F2,#211E2E);
    border-radius: 90px;
    padding: 2rem;
}
#contact-details > div > div {

    display: flex;
    align-items: anchor-center;
    column-gap: 2rem;
}

.vr {
    border-right: 1px solid;
    min-height: 10px;
    color: #ffffff62;
}

#contact-details > div > div > div:nth-child(2) > p:first-child{

    font-weight: 700;
}

#HYDRA-VR {

    color: #FFFFFF;
}

#page-2 > div:first-child > div {

    display: flex;
    align-items: flex-start;
    line-height: 2rem;
}

#page-2 > div {

    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

#description {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 3rem;
    padding-top: 2rem;
    column-gap: 100px;
}

.hydra-about > div:first-child {

    padding-top: 3rem;
    padding-right: 3rem;
}

#description > div > h1 {

    padding-bottom: 3rem;
    padding-top: 3rem;
}

#description div:nth-child(3) {

    padding-top: 2rem;
}

#description div:nth-child(2) {

       line-height: 2rem;
}

.page-heading {

    font-weight: 300;
}

#WHY-HYDRA {

    color: #FFFFFF;
}

#page-3 > div:first-child > div:first-child {

    display: flex;
    max-width: fit-content;
    column-gap: 2rem;
}

#page-3 > div:first-child > div:first-child > h1 {

    line-height: 2rem;
}

#page-3 > div {

    display: flex;
    justify-content: space-between;
}

.hr {

    border-bottom: 1px solid;
    min-width: 200px;
    color: #ffffff62;
}

#page-3 >div:nth-child(2) {

    column-gap: 3rem;
}

#page-3 >div:nth-child(2) > div {

    background: radial-gradient( #433D60,#211E2E);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

}









