* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Montserrat";
    src: url(./Montserrat/Montserrat-VariableFont_wght.ttf);
}

body {

    background-color: #302C42;
;
}

main {

    font-family:"Montserrat";
    padding-bottom: 100px;
}



.nav {
    
    display: flex;
    justify-content: space-between;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 12px;
    padding: 2rem 0;
    align-items: center;
    
}

.nav > div {
    
    display: flex;
    align-items: anchor-center;
    column-gap: 10px;
    width: auto;

}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.primary-button{

    /* padding: 5px; */
    font-weight: 600;
    font-size: 12px;
    height: 48px;
    width: 154px;
    border-radius:40px;
    background-color: #302C42;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;

}

.secondary-button {

    font-weight: 600;
    font-size: 12px;
    height: 48px;
    width: 154px;
    border-radius: 40px;
    background-image: linear-gradient(to right, #8176AF, #C0B7E8);
    border: none;    
}

.container {
    max-width: 1272px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

}

 /* .nav div:nth-child(2) {

    width: 400px;
} */

.nav > div:nth-child(2) {
    
    column-gap: 45px;
}

.nav > div:nth-child(3) {

    column-gap: 20px;
}

.taglines {

    display: flex;
    justify-content: space-between;

}

.taglines > div:last-child{
    display: none;
}

.taglines > div:first-child {

    padding-top: 4rem;


}

#phrase > h1 {

    color: #FFFFFF;
}

#phrase h1 #firstline {
    background: linear-gradient(to left, #8176AF, #C0B7E8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

#phrase h1 #secondline {

     background: linear-gradient(to right,#8176AF, #C0B7E8);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;

}

.taglines > div:nth-child(3) {
    display: none;
}

.taglines > div > div:nth-child(2) {

    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    margin: 40px 0px;
}

.taglines > div > div:nth-child(3) {

    max-width: fit-content;
    display: flex;
    column-gap: 20px;
    align-items: anchor-center;
    padding-top: 1rem;
}

.taglines > div:nth-child(2) {

    padding-top: 2rem;
    padding-right: 1rem;
}


    /* .taglines > div:last-child > button {

        display: none;
    } */

#contact-details {

    padding: 3rem 0;
}

#contact-details > div {
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right, #211E2E,#3A3456F2,#211E2E);
    border-radius: 90px;
    padding: 2rem;
}
#contact-details > div > div {

    display: flex;
    align-items: anchor-center;
    column-gap: 2rem;
}

.vr {
    border-right: 1px solid;
    min-height: 10px;
    color: #ffffff62;
}

#contact-details > div > div > div:nth-child(2) > p:first-child{

    font-weight: 700;
}

#HYDRA-VR {

    color: #FFFFFF;
}

#page-2 > div:first-child > div {

    display: flex;
    align-items: flex-start;
    line-height: 2rem;
    flex-basis: 50%;
}

#page-2 > div {

    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    column-gap: 2rem;
}

#description {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2rem;
    flex-basis: 50%;
}

.hydra-about > div:first-child {

    padding-top: 3rem;
    display: flex;
    flex-basis: 50%;

}

#description > div > h1 {

    padding-bottom: 3rem;
    padding-top: 3rem;
}

#description div:nth-child(3) {

    padding-top: 2rem;
}

#description div:nth-child(2) {

       line-height: 2rem;
}

.page-heading {

    font-weight: 300;
}

#WHY-HYDRA {

    color: #FFFFFF;
}

#page-3 > div:first-child > div:first-child {

    display: flex;
    justify-content: flex-start;
    column-gap: 2rem;
    flex-basis: 50%;
}

#page-3 > div:first-child > div:last-child {

    flex-basis: 50%;
    line-height: 2;
}

#page-3 > div:first-child > div:first-child > h1 {

    line-height: 2rem;
}

#page-3 > div {

    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
    margin-bottom: 3rem;
}

.hr {

    border-bottom: 1px solid;
    min-width: 200px;
    color: #ffffff62;
    padding: 1rem;
}

#page-3 > div:nth-child(2) {

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}

#page-3 >div:nth-child(2) > div {

    background: radial-gradient( #433D60,#211E2E);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    line-height: 2rem;

}

.feature {

    padding-top: 1rem;
}

#page-3 > div:first-child > div:first-child > img {

            max-width: 228px;
            max-height: 100px;

}

#hardware {

    color: #FFFFFF;
    min-height: 303px;
    padding-top: 2rem;
}


#hardware .technologies {
    min-height: 300px;
    background-image: url(./images/vrlady.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    display: grid;
    place-content: center;
}

#hardware .technologies > h4 {
    font-weight: 300;
    margin-top: 2rem;

}

#hardware .technologies > button {

    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(to left,#C0B7E8, #8176AF);
    position: relative;
    left: 46%;
    top: 100px;
}

#techSections {

        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1rem;
        align-items: center;
}

#buildHydra .Build {
    color: #FFFFFF;
}

.Build > div > div > h4 {

    font-weight: 300;
}

.Build > div:first-child > div:first-child {
    display: flex;
    justify-content: flex-start;
    column-gap: 2rem;
    flex-basis: 50%;
}

.Build > div:first-child > div:first-child > h1 {
    line-height: 2rem;
}

 .Build > div:first-child > div:first-child > img {
    max-width: 228px;
    max-height: 100px;
 }

 .Build > div:first-child {
    display: flex;
    margin-bottom: 2rem;
 }

 .Build > div:first-child > div:last-child > p {

    line-height: 2;
    flex-basis: 50%;
 }

 .buildOptions {
    display: flex;
    justify-content:space-around;
    padding-top: 2rem;
 }

 .buildOptions > div > div {
        display: flex;
        justify-content: flex-start;
        line-height: 2rem;
        gap: 10px;
 }

 .optionName {

    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
 }

 .optionName > div {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    line-height: 25px;
 }

 .optionName > div > img{
    max-width: 27.92px;
    max-height: 22.33px;
 }

#joinhydra .join {
    color: #FFFFFF;  
    background: radial-gradient(#433D60,#211E2E);
    border-radius: 40px;
}

form {
    width: 100%;
    margin: 0 auto;
    max-width: 1058px;

}

.join > div:first-child {
    display: flex;
    justify-content: center;
}

.join > div:first-child > h2 {
    margin-top: 2rem;
}

.join > div:nth-child(3) {
    display: flex;
    justify-content: center;
    margin: 2rem;

}

form > div:first-child {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
  
form > div > div > input {
    background: linear-gradient(#433D60,#211E2E);
    border-radius: 40px;
    min-height: 72px;
    border: 1px solid #ffffff;
    margin-top: 10px;
    min-width: 100%;
}

form > div:nth-child(2) > input {
    background: linear-gradient(#433D60,#211E2E);
    border-radius: 40px;
    margin: 10px 0;
    border: 1px solid #FFFFFF;
    min-height: 72px;
    min-width: 100%;
    margin-top: 2rem;
}

form > div:nth-child(3) > textarea {
    background: linear-gradient(#433D60,#211E2E);
    border-radius: 40px;
    margin-top: 2rem;
    border: 1px solid #ffffff;
    min-height: 210px;
    min-width: 100%;
} 

form > div:last-child {
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
}

form > div:last-child > button {
    margin-bottom: 2rem;
}
::placeholder {
    color: #FFFFFF;
    position: relative;
    text-align: center;
    right: 40%;
}


form > div:last-child > button {
    margin-top: 2rem;

}

#subject::placeholder {
    position: relative;
    right: 45%;
}

#text::placeholder {
    position: absolute;
    top: 10%;
    right: 82%;
}

.join {
    margin-bottom: 2rem;
}

footer {
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
}

.vR {
    border: 2px solid;
    border-image: linear-gradient(to top,#343045,#C0B7E8,#8176AF,#343045); 
    border-image-slice: 1; 
}

.footerOptions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
}

footer > div:last-child {
    row-gap: 2rem;

}
 footer > div:first-child > img {
    width: 185px;
    height: 187px;
 }

 .footerOptions > div > div {
    display: flex;
    justify-content: space-between;
 }

 .footerOptions div:last-child {
    display: flex;
    justify-content: center;
 }

 .hr {
    max-width: 800px;
    margin: auto;
 }
 
 .nav > div:last-child{
    display: none;
    max-width: 33px;
    max-height: 26px;
 }

  @media screen and (max-width: 1270px) {
    #page-3 > div:nth-child(2) {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }

    .options > div {
        display: none;
    }

    .nav > div:nth-child(3) {
        display: none;
    }

    .nav > div:last-child {
        display: block;
    }
    
    #hardware .technologies > button {
        display: none;
    }
    
    form > div:nth-child(3) > textarea {
        width: 100%;
    }
    
    .hydra-about > div > div > img {
        width: 100%;
    }

    .taglines > div:nth-child(2) > img {
        width: 100%;
    }
  } 


@media screen  and (max-width: 970px) {
    #techSections {
        display: grid;
        grid-template-columns:repeat(2,1fr);
    }

    #techSections > div {
        display: grid;
        justify-content: center;
    }

    .taglines > div > div:nth-child(2) {
        display: none;
    }

    form > div:first-child {
        display: block;
    }
    
}

@media screen and (max-width: 950px){
    #page-2 > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #page-2 > div:first-child > div > img {
        display: none;
    }

    #page-3 > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #page-3 > div:first-child > div:first-child > img {
        display: none;
    }

    .Build > div:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .Build > div:first-child > div:first-child > img {
        display: none;
    }

    .hydra-about > div:first-child {
        justify-content: center;
    }

    #description {
        /* align-items: center; */
    }

    #page-2 > div:first-child > div {
        line-height: 2;
        margin-bottom: 2rem;
    }

    #description > div > h1 {
        line-height: 2;
    }

    #page-3 > div:first-child > div:first-child > h1 {
        line-height: 2;
        margin-bottom: 2rem;
    }

}

@media screen and (max-width:800px) {
    .buildOptions {
        display: flex;
        flex-direction: column;
        align-items: anchor-center;
    }
    
}

@media screen and (max-width:750px) {
    .taglines {
        display: block;

    }

    
    .taglines > div > div:nth-child(3) {
        display: none;
    }


    .taglines > div:nth-child(2) {
        display: flex;
        justify-content: center;
        padding-right: 0;
    }

    
    #phrase > h1 {
        display: none;
    }
    .taglines > div:nth-child(3)  {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
         color: #FFFFFF;

}
    

    h1 #firstline {
    background: linear-gradient(to left, #8176AF, #C0B7E8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 36px;

}

 h1 #secondline {

     background: linear-gradient(to right,#8176AF, #C0B7E8);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
}

    
    .taglines > div:last-child {
        display: flex;
        justify-content: center;
        margin-top: 2rem;

    }

    .taglines > div:last-child > button {

        width: 100%;
        height: 52px;

    }

    .taglines > div:last-child {

        padding-left: 2rem;
        padding-right: 2rem;
    }

    /* .secondary-button {
        width: 100%;
    } */

    #description div:nth-child(3) > button {
        width:100%
    }

    #description div:nth-child(3) {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #hardware .technologies {
        max-width: 100%;
    }

    #page-3 > div:nth-child(2) {
            display: flex;
            flex-direction: column
    }

    
    #description > div > h1 {
        display: none;
    }

}

@media screen and (max-width:680px){
    
    #contact-details > div > .contactDetails {
        display: none;
    } 
    .vr {
        display: none;
    }

     #contact-details > div > .vr {
        display: none;
     }

     #page-2 > div:first-child > div > p {
        display: none;
     }

     #page-2 > div:first-child > div {
        justify-content: center;
     }

    #techSections {
        display: block;
    }

    .Build > div:first-child > div:first-child > h1 {
        margin-bottom: 2rem;
    }

    .buildOptions > div > div {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:604px) {
    #techSections {
        display: block;
    }

    footer > div:nth-child(3) {
        display: none;
    }

    footer > div:nth-child(5) {
        display: none;
    }

    .vR {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer > div:first-child > img {
        margin-bottom: 2rem;
    }
    
}

    

 







